@charset "utf-8";
$breakpoints: (
  'sm': 'screen and (max-width: 600px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    color :#000;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}
.containr {
    width: 90%;
    margin :0 auto;
}

a:hover{
    opacity: 0.6;
    color: rgb(167, 8, 8);
}
.btn:active{
     box-shadow: rgb(54, 11, 11);
     background-color:rgba(255, 0, 0, 0.432);
}


.clear::after{
    content:"";
    clear :both;
    display: block;
}

//----------------- header-Area-------------------
header{
    background-image: url(/img/sanple_img.png.jpg);
    // min-height: 75vh;
    // background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        float: left;
        padding: 10px;
    }
    .nav{
        float: right;
       
        
        
        li{
            float: left;
            padding :20px;
            padding-top: 20px;
            @include mq(md){
                font: none;
            }
            
           
        }
        a{
            color :#fff;
            font-weight: bold;
        }
      
    }
    
}

.header-text {
    padding:130px 100px 50px 100px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color :#fff;
    @include mq(md){
            font-size: 20px;    
    }
    
}


.btn {
    padding :8px 24px;
    color: #fff;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    @include mq(md){
        padding :3px 12px;
        border-radius: 4px;
    }
}

.signup{
    background-color: #239b76;
}

.facebook{
    background-color: #3b5998;
    margin-right: 10px;
}
.twitter{
    background-color:#55acee;
}

.btn-wrapper {
  text-align: center;
  padding-bottom: 40px;
  p{
      font-size: 20px;
  }
}

//----------------- main-Area-------------------
#main {
    background-color:rgb(197, 189, 189);
    display: grid;
    grid-template-columns: 65% 40%; 
    padding: 50px;
    @include mq(md){
        padding: 10px;
        grid-template: none;
    }
}

article {
    

    h1{
        padding :30px 0 30px 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        @include mq(sm){
            padding: 10px;
        }
    }

    
}


        .article-text {
        text-align: center;
        // min-height: 100vh;
        @include mq(md){

        }
        }
//----------------- main-Area-------------------

aside {
    padding-right: 30px;
    @include mq(sm){
        padding-right: 0;
        margin-right: 0;
    }
    h3{
        padding :30px 0 30px 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #000;
        
    }

    li {
        font-size: 15px;
        text-align: center;
        border-bottom: 1px solid #000;
        padding: 3px 0;
        
    }
}
    .nav-item__top{
        float: left;
        height: auto;
        @include mq(md){
            float: none;
            text-align: center;
        }
    }

//----------------- contact-Area-------------------

.contact {
    padding :70px 30px 55px 70px;;
    background-image: url(../img/apple-img.jpg);
    background-size :contain;
    // background-repeat: no-repeat;
    @include mq(lg){
        width :100%;
        padding :10px;
    }
   
    .section-title{
        font-size: 50px;
        padding-bottom: 20px;
        color: #fff;
        @include mq(md){
            font-size: 20px;
        }
        
    }
    label{
        margin-top: 10px;
        display: block;
        color :#fff;
        padding: 5px 0;
        @include mq(md){
            margin: 0;
            padding: 2px;
        }
    }
}
input[type="text"],[type="email"],[type="datetime-local"]{
    width :400px;
    padding :20px;
    display: inline-block;
    border: 3px solid rgb(229, 228, 236);
    border-radius: 10px;
    @include mq(md){
        width: 30%;
        padding:1px;
        
    }
    
}

//----------------- contact-Area-------------------

.fr{
    float: right;
    padding: 20px;
}